<div class="row">
  <div class="col col-lg-8 offset-lg-2">
    <div class="usuario-container">
      <div class="row">
        <div class="col">
          <h1>{{ "usuarios.titulo" | translate }}</h1>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <ul>
            <li>
              <span>{{ "usuarios.correo" | translate }}: {{ userEmail }}</span>
            </li>
            <li>
              <span
                >{{ "usuarios.nombre_usuario" | translate }}:
                {{ userName }}</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
